
gamei2a/The game/obj/Debug/The game.pdb
gamei2a/The game/obj/Debug/The game.exe
gamei2a/The game/obj/Debug/The game.csprojAssemblyReference.cache
gamei2a/The game/bin/Debug/The game.pdb
gamei2a/The game/bin/Debug/The game.exe
gamei2a/.vs/The game/v16/.suo
*.mp3
gamei2a/The game/bin/Debug/song/kulervouci.wav
